<!DOCTYPE html>
<!-- saved from url=(0030)http://appraiseblaze.com/demo/ -->
<html lang="en-US" class=" js no-touch svg inlinesvg svgclippaths no-ie8compat"><script async="" src="/demo_appraise_files/analytics.js"></script><script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Demo  |  Appraise Blaze</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="/demo_appraise_files/style.css">
<link rel="shortcut icon" href="http://appraiseblaze.com/wp-content/uploads/2013/04/AppraiseBlazeIcon48.png"><link rel="alternate" type="application/rss+xml" title="Appraise Blaze » Feed" href="http://appraiseblaze.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Appraise Blaze » Comments Feed" href="http://appraiseblaze.com/comments/feed/">
<style type="text/css" media="screen">
@import url(http://fonts.googleapis.com/css?family=Lato:900);
@import url(http://fonts.googleapis.com/css?family=Merriweather:regular,700);


body {
    background:#ffffff;
}

a, #phone a {
    color: #21819e;
}

a:hover {
    color: #00406a;
}

.section_gallery img:hover {
    border: 3px solid #00406a;
}

blockquote footer div {
    color: #21819e;
}

.tagcloud a:hover {
    background-color: #00406a;
    border: 1px solid #00406a;
}


#banner {
    background: #50aad1;
    background: -moz-linear-gradient(top, #50aad1 0%, #21819e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50aad1), color-stop(100%,#21819e));
    background: -webkit-linear-gradient(top, #50aad1 0%,#21819e 100%);
    background: -o-linear-gradient(top, #50aad1 0%,#21819e 100%);
    background: -ms-linear-gradient(top, #50aad1 0%,#21819e 100%);
    background: linear-gradient(to bottom, #50aad1 0%,#21819e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50aad1', endColorstr='#21819e',GradientType=0 );
}

.menu .current-menu-item a, .current-menu-parent a, .current_page_parent a {
    background: #21819e;
}

#navigation_elements {
    border-bottom: 5px solid #21819e;
}


.newsletter_inner {
    background-color: #166599;
}

.newsletter form {
    border: 1px solid  #166599;
}

.highlighted .pricing_header, .highlighted .pricing_footer {
    background-color: #166599;
}

.highlighted.pricing_block:hover .pricing_header, .highlighted.pricing_block:hover .pricing_footer {
    background-color:#00406a;
}

input#submit_comment, input.wpcf7-submit {
    background: #166599;
}


    /* Global Font Styles */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #333333;
}

#logo h1, #logo a { /* Logo */
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    color: #21819e;
}
#logo h2 { /* Logo Tagline */
    font-family: 'Merriweather', sans-serif;
    font-size: 1.25em;
    color: #999999;
}

    /* Quotes */
.entry-content blockquote {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: italic;
    color: #000000;
}

    /* Blog Font Styles */
h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 2.35em;
    color: #333333;
}

h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
    color: #333333;
}

h3 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.6em;
    color: #333333;
}

h4 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2em;
    color: #333333;
}

h5 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.125em;
    color: #333333;
}

h6 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
    color: #333333;
}

    /* Single Page Title */
h1.page-title, .type-page h1.entry-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8em;
    color: #333333;
}

    /* Widget Title */
h3.widget-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.25em;
    color: #333333;
}

    /* Meta */

.entry-meta, .entry-meta a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #999999;
}

    /* Font styles used for Landing Page */

    /* Banner Heading */

#banner h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #ffffff;
}

#banner h2 {
    color: #ffffff;
}


    /* Section Title */

.page-template-landingpage-php h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 2.2em;
    color: #21819e;
}

    /* Section Subtitle */

.page-template-landingpage-php h3 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.45em;
    color: #999999;
}

    /* Newsletter */

.newsletter_inner h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8em;
    color: #ffffff;
}

    /* Big Testimonial */

.testimonial_big q {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.4em;
    color: #000000;
}

    /* Pricing Table */

.pricing_header h4 {
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
    color: #ffffff;
}

.pricing_header h5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    color: #cccccc;
}

.highlighted .pricing_header h5 {
    color:#dbf1ff;
}

.price {
    font-family: 'Merriweather', sans-serif;
    font-size: 3.81em;
    color: #ffffff;
}

.price span {
    font-size: 0.5em
}
</style>
<!--[if gte IE 9]>
<style type="text/css">
    .gradient { filter: none!important;}
</style>
<![endif]-->
<!--[if lt IE 9]>
<script>
    'article aside footer header nav section time'.replace(/\w+/g,function(n){document.createElement(n)})
</script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<link rel="stylesheet" id="TwitterBadgeStyle-css" href="/demo_appraise_files/twitterbadge.css" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="/demo_appraise_files/styles.css" type="text/css" media="all">
<script type="text/javascript" src="/demo_appraise_files/jquery.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://appraiseblaze.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://appraiseblaze.com/wp-includes/wlwmanifest.xml">
<link rel="prev" title="Welcome!" href="http://appraiseblaze.com/welcome/">
<meta name="generator" content="WordPress 3.5.1">
<link rel="canonical" href="/demo_appraise_files/demo_appraise.html">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37567275-12', 'appraiseblaze.com');
    ga('send', 'pageview');

</script><script type="text/javascript" async="" src="/demo_appraise_files/widgets.js"></script></head>
<body class="page page-id-312 page-template-default">
<div id="wrapper" class="hfeed">
    <header>
        <!--Start of Navigation Elements-->
        <nav id="navigation_elements">
            <div class="row">
                <!--Start of Main Navigation-->
                <div id="main_nav">
                    <div class="menu-main-nav-container"><ul id="menu-main-nav" class="menu l_tinynav1"><li id="menu-item-271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-271"><a href="http://appraiseblaze.com/">Home</a></li>
                            <li id="menu-item-272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-272"><a href="http://appraiseblaze.com/features/">Features</a></li>
                            <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274"><a href="http://appraiseblaze.com/contact-us/">Contact Us</a></li>
                            <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-312 current_page_item menu-item-314"><a href="/demo_appraise_files/demo_appraise.html">Demo</a></li>
                        </ul><select id="tinynav1" class="tinynav tinynav1"><option value="http://appraiseblaze.com/">Home</option><option value="http://appraiseblaze.com/features/">Features</option><option value="http://appraiseblaze.com/contact-us/">Contact Us</option><option value="http://appraiseblaze.com/demo/" selected="selected">Demo</option></select></div>        </div><!--End of Main Navigation-->
            </div>
        </nav><!--End of Navigation Elements-->
        <div id="landing_header" class="row">
            <div id="landing_header_inner">

                <div id="logo" class="two_thirds">
                    <hgroup>
                        <h1><a href="http://appraiseblaze.com/" title="Appraise Blaze" rel="home"><img src="/demo_appraise_files/logoforsite1.png" alt="Appraise Blaze" title="Appraise Blaze"><span>Appraise Blaze</span></a></h1>
                        <h2 id="site-description">Streamline Your Commercial Appraisals</h2>
                    </hgroup>
                </div><!--End of Header Logo-->
                <!--Start of Phone-->
                <aside id="phone" class="one_third last">Call Now Toll Free <a href="tel://(866) 292-3817" title="Call Now Toll Free">(866) 292-3817</a></aside>
                <!--End of Phone-->

            </div>
        </div><!--End of Landing Header-->
    </header>
    <div id="container"><article id="content">
            <div id="post-312" class="post-312 page type-page status-publish post-password-required hentry">
                <h1 class="entry-title">Protected: Demo</h1>
                <h3>Featured Appraisal: <a href="/bundles/appraiseblazemain/images/demo_report.pdf">Demo Report</a></h3>
                <div class="entry-content">
                    {% for report in reports %}
                    <div>
                    <a href="{{ path('get_appraisal_pdf', {'demo_id': report.id}) }}">Report {{ report.id }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    </article>
    <div class="clear"></div>
</div>
<div class="row">
    <footer role="contentinfo">
        <div id="page_footer">
            <!--Start Social Elements Sidebar -->
            <aside id="section_social_footer" class="social_elements section_social_footer">
                <ul>
                    <li><a href="http://twitter.com/AppraiseBlaze" class="twitter" title="Twitter" target="_blank"><span>Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/AppraiseBlaze" class="facebook" title="Facebook" target="_blank"><span>Facebook</span></a></li>
                    <li><a href="http://appraiseblaze.com/demo/#" class="rss" title="RSS Feed" target="_blank"><span>RSS Feed</span></a></li>
                    <li><a href="http://appraiseblaze.com/contact-us/" class="feedback" title="Feedback Form" target="_blank"><span>Feedback Form</span></a></li>
                </ul>
            </aside>
            <!--End Social Elements Sidebar-->
            <p>
                Copyright Appraise Blaze 2013 All Rights Reserved</p>
        </div>
    </footer>
</div>
</div>
<a href="http://appraiseblaze.com/demo/#" class="scrollup">Scroll up</a>
<script type="text/javascript">
    // slider initialization
    ;(function ($, window, undefined) {
        $(document).ready(function() {
            $('#banner_slider').flexslider({
                animation: 'fade',
                slideshowSpeed: 7000,
                animationSpeed: 600,
                randomize: false,
                controlNav: false,
                directionNav: true
            });
            $('.testimonial-slider-large').flexslider({
                animation: 'fade',
                controlNav: false,
                directionNav: true
            });
            $('.testimonial-slider-small').flexslider({
                animation: 'fade',
                controlNav: false,
                directionNav: false
            });
        });
    })(jQuery, this);
</script><script type="text/javascript">
    /* <![CDATA[ */
    var RelTimeL10n = {"RelTSeconds":"less than a minute ago","RelTMinute":"about a minute ago","RelTMinutes":"%s minutes ago","RelTHour":"about an hour ago","RelTHours":"%s hours ago","RelTDay":"yesterday","RelTDays":"%s days ago"};
    /* ]]> */
</script>
<script type="text/javascript" src="/demo_appraise_files/loc_relative_time.js"></script>
<script type="text/javascript" src="/demo_appraise_files/jquery.json-2.3.js"></script>
<script type="text/javascript" src="/demo_appraise_files/jstorage.js"></script>
<script type="text/javascript" src="/demo_appraise_files/twitterbadgescript.js"></script>
<script type="text/javascript" src="/demo_appraise_files/jquery.form.min.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var _wpcf7 = {"loaderUrl":"http:\/\/appraiseblaze.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
    /* ]]> */
</script>
<script type="text/javascript" src="/demo_appraise_files/scripts.js"></script>
<script type="text/javascript" src="/demo_appraise_files/devicepx-jetpack.js"></script>
<script type="text/javascript" src="/demo_appraise_files/modernizr.foundation.js"></script>
<script type="text/javascript" src="/demo_appraise_files/jquery.placeholder.js"></script>
<script type="text/javascript" src="/demo_appraise_files/touchtouch.jquery.js"></script>
<script type="text/javascript" src="/demo_appraise_files/tinynav.js"></script>
<script type="text/javascript" src="/demo_appraise_files/site.js"></script>
<script type="text/javascript" src="/demo_appraise_files/jquery.flexslider.js"></script>

<div id="galleryOverlay" style="display: none;"><div id="gallerySlider"></div><div id="imageTitle"></div><a id="prevArrow"></a><a id="nextArrow"></a></div></body></html>
