/*
Theme Name: JustLanded for WordPress
Theme URI: http://www.shapingrain.com
Description: A sweet and easy landing page for WordPress.
Author: ShapingRain
Author URI: http://www.shapingrain.com
Version: 1.1.2
*/

/* JustLanded for Wordpress v.1.1.2 Style Index

1. Default and Reset styles
2. Global elements
- 2.1 Main Navigation
- 2.2 Buttons
- 2.3 List Styles
3. Fonts and Headings
- 3.1 Fonts
- 3.2 Headings
4. Content Blocks used for positioning
5. Landing page header and banner
- 5.1 Header
- 5.2 Banner
- 5.3 Slider
- 5.4 Gallery
6. Landing Page Content
- 6.1 Features
- 6.2 Description
- 6.3 Content
- 6.4 Testimonials
- 6.5 Newsletter
- 6.6 Buy
- 6.7 Pricing Table
7. Wordpress Elements
- 7.1 Wordpress Core
- 7.2 Sidebar
- 7.3 Posts
- 7.4 Comments
- 7.5 Widgets
8. Social elements
- 8.1 Contact form
9. Landing page footer 
10. Additional styles for jQuery/Foundation Framework plug-ins
11. Responsive Styling

/*------------------------------------------------------------------------------------------*/
/* 1. Defaults & Reset of specific styles across browsers */
/*------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline
}

body {
    background: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

.clear {
    clear: both
}

hr {
    height: 0;
    clear: both;
    margin: 0 0 20px 0;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 0 0;
    border-image: none;
    border-right: 0 solid #e5e5e5;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.entry-content .block ul li {
    list-style: none;
}

p, li, blockquote {
    line-height: 1.4em;
}

p, .bypostauthor, .sticky {
    margin: 0 0 20px 0;
}

a {
    color: #dd4631;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

a:hover {
    color: #333;
}

a img {
    border: none;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

a img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

iframe {
    border: 0;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Global elements used throughout the landing page */
/*------------------------------------------------------------------------------------------*/

section {
    display: block;
}

article section, .newsletter {
    margin: 0 0 40px 0;
    padding: 0 0 45px 0;
    overflow: auto;
}

.section_small_testimonials {
    padding: 0 0 25px 0;
}

.section_features {
    padding: 0 0 30px 0;
}

.page-template-landingpage-php article section, .page-template-landingpage-php .newsletter {
    background: url(images/border.gif) repeat-x left bottom;
}

#container {
    margin: 0 auto;
    width: 940px;
}

.page-template-landingpage-php #container {
    width: 100%;
}

#main_content {
    margin: 0 auto;
    width: 960px;
    position: relative;
    clear: both;
}

#navigation_elements .inner {
    overflow: visible;
}

#content .inner {
    background: url(images/border.gif) repeat-x left bottom;
    margin: 0 auto 30px auto;
    padding: 0 0 35px 0;
}

.position_left {
    float: left;
    margin: 0 20px 0 0;
}

.last, li.last, .block_460.last, #features li.last, #work li.last, .block_300.last {
    margin-right: 0 !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

/* 2.1 Main Navigation */

#navigation_elements {
    background: #303030;
    height: 45px;
    border-bottom: 5px solid #dd4631;
    margin: 0;
}

.menu {
    float: left;
}

.menu li {
    background: url(images/border_seperator.png) right center no-repeat;
    float: left;
    text-align: center;
    position: relative;
}

.menu li:last-child {
    background: none;
}

#main_nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 40px;
    padding: 10px 15px 0 15px;
}

#main_nav a:hover {
    background: #535353;
}

.menu .current-menu-item a, .current-menu-parent a, .current_page_parent a {
    background: #dd4631;
}

#page_footer .secondary {
background:#fff!important;	
}

.secondary a {
    background: none;
}

#main_nav ul ul {
    background: #535353;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    float: left;
    width: 190px;
    z-index: 99999;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#main_nav ul ul ul {
    background: #535353;
    display: none;
    position: absolute;
    top: 0;
    left: 190px;
    float: left;
    width: 180px;
    z-index: 99999;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#main_nav ul li:hover > ul {
    display: block;
}

#main_nav ul ul a, #main_nav ul .current-menu-item  ul a {
    background: #535353;
    padding: 8px 15px 8px 15px;
    width: 190px;
    height: auto;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #6e6e6e;
}

#main_nav li:hover > a, #main_nav ul ul :hover > a {
    background: #535353;
    color: #fff;
}

#main_nav ul ul a:hover {
    background: #666;
}

.tinynav {
    display: none;
    margin: 0 auto;
}

/* 2.2 Buttons */

.buttons {
    background-color: rgba(30, 30, 30, 0.15);
    width: 366px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 6px;
    margin: 12px 0 0 0;
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 99;
}

.buttons_big {
    background-color: rgba(30, 30, 30, 0.15);
    width: 248px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 6px;
    margin: 12px 0 0 0;
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 99;
}

#banner.banner_media_full .buttons {
    margin: 0 0 -55px 0;
}

#banner.banner_media_left .buttons {
    margin: 10px 0 0 0;
}

#banner.banner_media_right .buttons {
    margin: -30px 0 0 0;
    clear: both;
}

.section_payment .buttons, .section_cta_buttons .buttons {
    float: none;
    margin: 0 auto;
}

.buttons span {
    background: #d86600; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Q4NjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlODhjMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d86600 1%, #e88c13 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #d86600), color-stop(100%, #e88c13)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d86600 1%, #e88c13 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d86600 1%, #e88c13 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d86600 1%, #e88c13 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d86600 1%, #e88c13 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d86600', endColorstr='#e88c13', GradientType=0); /* IE6-8 */
    border-radius: 100em;
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
    height: 32px;
    width: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    color: #833100;
    text-align: center;
    margin: 10px 0 0 -16px;
    padding: 8px 0 0 0;
    display: block;
    float: left;
    position: relative;
    z-index: 99;
    text-shadow: 0 1px 0 #f0c08b;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .3);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .3);
}

a.button_buy {
    background: #fea817; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlYTgxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTQyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fea817 1%, #c54200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fea817), color-stop(100%, #c54200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fea817 1%, #c54200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fea817 1%, #c54200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fea817 1%, #c54200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fea817 1%, #c54200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea817', endColorstr='#c54200', GradientType=0); /* IE6-8 */
    display: block;
    float: left;
    width: 177px;
    height: 51px;
    padding: 15px 0 0 0;
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #af5305;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    position: relative;
    z-index: 20;
}

a.button_buy_big {
    background: #fea817; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlYTgxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTQyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fea817 1%, #c54200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fea817), color-stop(100%, #c54200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fea817 1%, #c54200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fea817 1%, #c54200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fea817 1%, #c54200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fea817 1%, #c54200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea817', endColorstr='#c54200', GradientType=0); /* IE6-8 */
    display: block;
    float: left;
    width: 237px;
    height: 51px;
    padding: 15px 0 0 0;
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #af5305;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    position: relative;
    z-index: 20;
}

a.button_buy:hover, a.button_buy_pricing:hover, a.button_buy_big:hover {
    background: #c54200; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1NDIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWE4MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #c54200 0%, #fea817 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c54200), color-stop(100%, #fea817)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c54200 0%, #fea817 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c54200 0%, #fea817 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c54200 0%, #fea817 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c54200 0%, #fea817 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c54200', endColorstr='#fea817', GradientType=0); /* IE6-8 */
    color: #fff;
}

a.button_try {
    background: #fec32d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYzMyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fec32d 0%, #d86600 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec32d), color-stop(100%, #d86600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fec32d 0%, #d86600 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fec32d 0%, #d86600 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fec32d 0%, #d86600 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fec32d 0%, #d86600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec32d', endColorstr='#d86600', GradientType=0); /* IE6-8 */
    display: block;
    float: left;
    width: 177px;
    height: 51px;
    padding: 15px 0 0 0;
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #af5305;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    margin-left: -16px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    position: relative;
    z-index: 20;
}

a.button_try:hover {
    background: #d86600; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4NjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZlYzMyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #d86600 0%, #fec32d 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d86600), color-stop(99%, #fec32d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d86600 0%, #fec32d 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d86600 0%, #fec32d 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d86600 0%, #fec32d 99%); /* IE10+ */
    background: linear-gradient(to bottom, #d86600 0%, #fec32d 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d86600', endColorstr='#fec32d', GradientType=0); /* IE6-8 */
    color: #fff;
}

a.button_buy_pricing {
    background: #fea817; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlYTgxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTQyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fea817 1%, #c54200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fea817), color-stop(100%, #c54200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fea817 1%, #c54200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fea817 1%, #c54200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fea817 1%, #c54200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fea817 1%, #c54200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea817', endColorstr='#c54200', GradientType=0); /* IE6-8 */
    width: 161px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    display: block;
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #af5305;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
}

a.button_buy:active, a.button_try:active, a.button_buy_pricing:active {
    box-shadow: inset 0 -2px 0 rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0 -2px 0 rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0 -2px 0 rgba(255, 255, 255, .4);
    outline: none;
}

/* 2.3 List Styles */

#main_content ul, #main_content ol, .entry-content ul, .entry-content ol {
    margin: 0 0 20px 0;
}

#main_content .pricing_table ul, #main_content .pricing_table ol, #main_content .section_features ul {
    margin-bottom: 0;
}

.entry-content ul li {
    list-style: disc;
    padding: 3px 0 3px 0;
    margin: 0 0 0 15px;
}

.entry-content ol li {
    list-style: decimal;
    padding: 3px 0 3px 0;
    margin: 0 0 0 20px;
}

.list_check ul li {
    background: url(images/icons/icon_check.png) no-repeat 0 5px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_plus ul li {
    background: url(images/icons/icon_plus.png) no-repeat 0 5px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_star ul li {
    background: url(images/icons/icon_star.png) no-repeat 0 4px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_caution ul li {
    background: url(images/icons/icon_caution.png) no-repeat 0 5px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_info ul li {
    background: url(images/icons/icon_info.png) no-repeat 0 4px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_heart ul li {
    background: url(images/icons/icon_heart.png) no-repeat 0 4px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_calendar ul li {
    background: url(images/icons/icon_calendar.png) no-repeat 0 4px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_delete ul li {
    background: url(images/icons/icon_delete.png) no-repeat 0 6px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_pin ul li {
    background: url(images/icons/icon_pin.png) no-repeat 0 4px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

.list_arrow ul li {
    background: url(images/icons/icon_arrow.png) no-repeat 0 6px;
    list-style: none;
    padding: 6px 0 6px 28px;
    margin: 0;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Styles used for fonts and headings */
/*------------------------------------------------------------------------------------------*/

/* 3.1 Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

h1 {
    margin: 0 0 20px 0;
}

h2 {
    margin: 0 0 15px 0;
}

h3 {
    margin: 0 0 15px 0;
}

h4 {
    margin: 0 0 15px 0;
}

h5 {
    margin: 0 0 10px 0;
}

h6 {
    margin: 0 0 5px 0;
}

h1 span, h2 span, h3 span {
    font-weight: 700;
}

/*Font Styles used on the landing page only*/

.page-template-landingpage-php h2 {
    color: #dd4632;
    margin: 0 0 20px 0;
}

.page-template-landingpage-php h3 {
    color: #999;
    margin: -15px 0 25px 0;
}

.page-template-landingpage-php h4 {
    margin: 0 0 5px 0;
}

/* 3.2 Headings */

#logo img {
    margin: 0 5px 0 0;
    float: left;
}

#logo h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #dd4632;
    display: inline;
    margin: 0 10px 0 0;
}

#logo h2 {
    font-family: 'Merriweather', serif;
    color: #999;
    font-weight: 400;
    margin: 0;
    display: inline;
}

#banner h1 {
    color: #fff;
    font-weight: 700;
    margin: 10px 0 15px 0;
}

#banner h2 {
    font-family: 'Merriweather', serif;
    color: #f7c9c9;
}

.section_features h2, .section_features h3, .section_gallery h2, .section_gallery h3, .section_small_testimonials h2, .section_small_testimonials h3, .buy h2, .buy h3, .section_pricing_table h2, .section_pricing_table h3, .section_payment h2, .section_payment h3 {
    text-align: center;
}

.newsletter h2 {
    background: url(images/sprite.png) no-repeat -1px -175px;
    color: #fff;
    padding: 23px 0 20px 70px;
    margin: 5px 0 0 20px;
    float: left;
}

#content #main_content h1 {
    text-align: center;
    font-weight: 700;
}

.pricing_header h4 {
    padding: 15px 0 0 0;
}

.pricing_header h5 {
    color: #ccc;
    margin: -10px 0 10px 0;
    padding: 0;
}

.highlighted h5 {
    color: #f7c9c9;
}

h1.page-title, .type-page h1.entry-title {
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    padding: 25px 0 25px 0;
    margin: 0 0 30px 0;
}

h1.page-title span {
    font-weight: 700;
}

h3.widget-title {

}

/*------------------------------------------------------------------------------------------*/
/* 4. Content blocks used to position content */
/*------------------------------------------------------------------------------------------*/

/* Grid System based on Foundation by ZURB */

.row {
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -10px;
}

.row.collapse .column, .row.collapse .columns {
    padding: 0;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -10px;
}

.row .row.collapse {
    margin: 0;
}

.column, .columns {
    float: left;
    padding: 0;
    margin: 0;
    min-height: 1px;
    position: relative;
}

.column.centered, .columns.centered {
    float: none;
    margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

[class*="column"] + [class*="column"].end {
    float: left;
}

img {
    height: auto;
}

img, object, embed {
    max-width: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

#map_canvas img, .map_canvas img {
    max-width: none !important;
}

/* Nicolas Gallagher's micro clearfix */

.row {
    *zoom: 1;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.block_300 {
    width: 300px;
    float: left;
    margin: 5px 20px 5px 0;
}

.block_380 {
    width: 380px;
    float: left;
    margin: 0 20px 0 0;
}

.block_460 {
    width: 460px;
    float: left;
    margin: 0 20px 0 0;
}

.block_540 {
    width: 540px;
    float: left;
}

.block_680 {
    width: 680px;
    float: left;
}

.page-template-page-sidebar-left-php .block_680 {
    float: right;
}

/* 4.1 Column Layouts */

.one_half, .one_third, .two_thirds, .three_fourths, .one_fourth {
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}

.page-template-landingpage-php .one_half, .page-template-landingpage-php .two_thirds, .page-template-landingpage-php .three_fourths {
    float: left;
    margin: 0 20px 0 0;
    position: relative;
}

.one_half {
    width: 460px;
}

.one_third {
    width: 300px;
}

.two_thirds {
    width: 620px;
}

.one_fourth {
    width: 220px;
}

.three_fourths {
    width: 700px;
}

/*------------------------------------------------------------------------------------------*/
/* 5. Landing page header and banner */
/*------------------------------------------------------------------------------------------*/

/* 5.1 Header */

#landing_header {
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
}

#landing_header_inner {
    overflow: hidden;
    position: relative;
}

#landing_header hgroup {
    display: inline;
}

.single-post #landing_header {
    margin: 0 auto 30px auto;
}

.page-template-landingpage-php #landing_header {
    border: none;
}

#logo {
    display: inline-block;
}

#logo img {
    margin: 0 15px 0 0;
    float: left;
}

#phone {
    font-size: 108%;
    color: #999;
    display: inline-block;
    text-align: right;
    position: absolute;
    bottom: 0;
}

#phone a {
    text-decoration: none;
    color: #dd4632;
    cursor: default;
    font-weight: bold;
}

#phone.one_third.last {
    margin: 0;
    padding: 0;
}

#landing_header .two_thirds, #landing_header .one_third {
    padding: 0;
    margin: 0;
}

/* 5.2 Banner */

#banner {
    background: #cf5833;
    background: -moz-linear-gradient(top, #cf5833 0%, #ab2210 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf5833), color-stop(100%, #ab2210));
    background: -webkit-linear-gradient(top, #cf5833 0%, #ab2210 100%);
    background: -o-linear-gradient(top, #cf5833 0%, #ab2210 100%);
    background: -ms-linear-gradient(top, #cf5833 0%, #ab2210 100%);
    background: linear-gradient(to bottom, #cf5833 0%, #ab2210 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5833', endColorstr='#ab2210', GradientType=0);
    color: #fff;
    clear: both;
    height: 392px;
    margin: 0 0 80px 0;
    padding: 35px 0 30px 0;
}

#banner .inner {
    overflow: visible;
}

#banner_image {
    height: 355px;
}

#banner_image img {
    display: block;
    margin: 0 auto;
}

#banner_image img#image_bottom {
    margin-top: -10px;
}

#banner ul {
    margin: 20px 0 20px 0;
}

#banner .ticks li {
    background: url(images/sprite.png) no-repeat -1px -79px;
    font-weight: bold;
    padding: 7px 0 7px 35px;
}

#banner a {
    display: block;
    color: #fff;
}

#banner.banner_media_full {
    height: auto;
    padding: 25px 0 25px 0 !important;
}

/* 5.3 Slider */
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px
}

/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.flex-direction-nav .flex-next {
    background: url(images/sprite.png) no-repeat -183px -417px;
    right: 5px;
}

.flex-direction-nav .flex-prev {
    background: url(images/sprite.png) no-repeat -163px -417px;
    left: 5px;
}

.testimonial-slider-large .flex-direction-nav .flex-next {
    background: url(images/sprite.png) no-repeat -182px -827px;
    right: 5px;
}

.testimonial-slider-large .flex-direction-nav .flex-prev {
    background: url(images/sprite.png) no-repeat -164px -827px;
    left: 5px;
}

.flexslider:hover .flex-next {
    opacity: 1;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 1;
    left: 5px;
}

.flex-direction-nav .flex-disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.slides li {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

/* 5.4 Gallery */

/* The gallery overlay */

#galleryOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
    -moz-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible {
    opacity: 1;
}

#gallerySlider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    -moz-transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease;
}

#gallerySlider .placeholder {
    background: url(images/controls/loading.gif) no-repeat center center;
    height: 100%;
    line-height: 1px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

/* The before element moves the image halfway from the top */

#gallerySlider .placeholder:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#gallerySlider .placeholder img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

#gallerySlider.rightSpring {
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring {
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
    }
}

@-moz-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
    }
}

@-webkit-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}

/* Arrows */

#prevArrow, #nextArrow {
    border: none;
    text-decoration: none;
    background: url(images/controls/arrows.png) no-repeat;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    width: 43px;
    height: 58px;
    top: 50%;
    margin-top: -29px;
}

#prevArrow:hover, #nextArrow:hover {
    opacity: 1;
}

#prevArrow {
    background-position: left top;
    left: 40px;
}

#nextArrow {
    background-position: right top;
    right: 40px;
}

#imageTitle {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 10px 0 10px 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
}

/*------------------------------------------------------------------------------------------*/
/* 6. Content */
/*------------------------------------------------------------------------------------------*/

/* 6.1 Features */

.section_features {
    clear: both;
}

.feature_image {
    min-width: 60px;
    float: left;
}

.feature_text {
    width: 230px;
    float: left;
}

.section_features img {
    float: left;
    margin: 0 10px 0 0;
}

.section_features li, .entry-content .section_features li {
    margin: 15px 20px 15px 0;
}

.section_features h4 {
    margin: 0 0 5px 0;
}

.section_features p {
    margin-bottom: 0;
}

/* 6.2 Description */

#description ul {
    margin: 20px 0 20px 30px;
}

#description ul li {
    background: url(images/sprite.png) no-repeat -1px -19px;
    padding: 6px 0 6px 28px;
}

/* 6.3 Screenshots */

.section_gallery {
    clear: both;
    text-align: center;
}

.section_gallery img {
    margin: 0 3px 0 3px;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.section_gallery img:hover {
    border-color: #dd4632;
}

/* 6.4 Testimonials */

blockquote {
    background: url(images/bg_quote.png) no-repeat left top;
}

.entry-content blockquote {
    padding: 10px 10px 10px 60px;
    font-style: italic;
}

.entry-content .section_small_testimonials blockquote, blockquote.testimonial_big {
    padding: 0;
    font-style: normal;
}

blockquote footer {
    display: block;
    margin: 15px 0 0 0;
    line-height: normal;
    font-weight: normal;
    color: #999;
}

blockquote footer img {
    float: left;
    border-radius: 100em;
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
    margin: 0 10px 0 0;
}

blockquote footer div {
    padding: 13px 0 0 0;
    font-weight: bold;
    color: #dd4632;
}

.testimonial_big {
    margin: 0;
    padding: 0;
    text-align: center;
}

.testimonial_big q {
    font-family: 'Merriweather', serif;
    font-size: 140%;
    line-height: normal;
}

.testimonial_big footer div {
    display: inline;
}

/* 6.5 Newsletter */

.newsletter_inner {
    background: url(images/sprite.png) no-repeat 415px -461px #dd4733;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    overflow: hidden;
    clear: both;
}

.newsletter form {
    background: #fff;
    height: 44px;
    width: 362px;
    margin: 18px 20px 0 0;
    float: right;
    display: block;
    border: 1px solid #ab2210;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 0 2px 3px #999;
    -moz-box-shadow: inset 0 2px 3px #999;
    -webkit-box-shadow: inset 0 2px 3px #999;
}

.newsletter input[type="text"] {
    background: none;
    height: 42px;
    width: 240px;
    float: left;
    margin: 0;
    padding: 2px 0 0 10px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: 1px solid #ab2210;
    line-height: 42px;
    color: #999;
}

.newsletter input.e-mail:focus {
    color: #333;
}

input.submit {
    background: #fea817; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlYTgxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTQyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fea817 1%, #c54200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fea817), color-stop(100%, #c54200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fea817 1%, #c54200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fea817 1%, #c54200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fea817 1%, #c54200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fea817 1%, #c54200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea817', endColorstr='#c54200', GradientType=0); /* IE6-8 */
    height: 44px;
    width: 120px;
    margin: 0;
    float: right;
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #af5305;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
    border: 1px solid #eb9f29;
    border-top: none;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-radius-bottom-right: 5px;
    cursor: pointer;
}

input.submit:hover {
    background: #c54200; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1NDIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWE4MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #c54200 0%, #fea817 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c54200), color-stop(100%, #fea817)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c54200 0%, #fea817 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c54200 0%, #fea817 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c54200 0%, #fea817 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c54200 0%, #fea817 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c54200', endColorstr='#fea817', GradientType=0); /* IE6-8 */
}

/*Newsletter within the Banner*/

.mini_newsletter_banner {
    background-color: rgba(30, 30, 30, 0.15);
    width: 440px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 6px;
    margin: -27px 0 0 0;
    overflow: hidden;
    position: relative;
    z-index: 99;
    float: left;
    clear: both;
}

.mini_newsletter_banner .email {
    background: #fff;
    height: 44px;
    width: 308px;
    float: left;
    margin: 0;
    padding: 2px 0 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border: none;
    border-right: 1px solid #ab2210;
    line-height: 42px;
    color: #999;
    box-shadow: inset 0 2px 3px #999;
    -moz-box-shadow: inset 0 2px 3px #999;
    -webkit-box-shadow: inset 0 2px 3px #999;
}

/* 6.6 Buy */

.payment {
    width: 260px;
    margin: 20px auto 0 auto;
    text-align: center;
    clear: both;
}

.payment img {
    margin: 0 5px 0 0;
    display: inline;
}

/* 6.7 Pricing Table */

.pricing_table {
    background: #f0f0f0;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    display: table;
    margin: 0 auto;
}

.pricing table .column, .columns {
    padding: 0 5px !important;
}

.pricing_block {
    background: #fff;
    margin: 0 10px 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    position: relative;
    width: 220px;
    float: left;
    margin: 0 5px 0 5px;
}

.pricing_header {
    background: url(images/bg_pricing_block.png) no-repeat center bottom #666666;
    height: 185px;
    color: #fff;
    padding: 0 10px 25px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.pricing_footer {
    background: #666666;
    height: 90px;
    margin: 10px 0 0 0;
    padding: 20px 0 5px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.pricing_footer p {
    background-color: rgba(30, 30, 30, 0.25);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 171px;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
}

.pricing_block:hover .pricing_header, .pricing_block:hover .pricing_footer {
    background-position: center 47px;
    background-color: #464646;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.favorite .pricing_header, .favorite .pricing_footer {
    background-color: #dd4632;
}

.favorite.pricing_block:hover .pricing_header, .favorite.pricing_block:hover .pricing_footer {
    background-color: #c03220;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.price {
    font-size: 380%;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.price span {
    font-size: 45%;
    position: relative;
    top: -20px;
    left: -5px;
}

.pricing_block ul {
    margin: 0;
    padding: 0;
}

.pricing_block li, .entry-content .pricing_block li {
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 10px 0 10px;
    padding: 8px 0 8px 0;
}

.pricing_block li.last {
    border: none;
}

.badge {
    background: url(images/badges/badge_bestvalue.png) no-repeat left top;
    float: right;
    width: 58px;
    height: 58px;
    margin: -7px -6px 0 0;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
}

.badge span {
    display: none;
}

.badge.badge_bestseller {
    background: url(images/badges/badge_bestseller.png) no-repeat left top;
}

.badge.badge_bestvalue {
    background: url(images/badges/badge_bestvalue.png) no-repeat left top;
}

.badge.badge_favorite {
    background: url(images/badges/badge_favorite.png) no-repeat left top;
}

.badge.badge_mostchosen {
    background: url(images/badges/badge_mostchosen.png) no-repeat left top;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Wordpress elements */
/*------------------------------------------------------------------------------------------*/

/* 7.1 Wordpress Core */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption, .gallery-caption {
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 10px 5px 5px 5px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 98.5%;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 75%;
    color: #666;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

/* 7.2 Sidebar */

#sidebar {
    width: 220px;
    float: right;
}

#sidebar.three.columns {
    margin: 0 !important;
    padding: 0 !important;
}

.page-template-page-sidebar-left-php #sidebar {
    float: left;
}

#sidebar .widget-container {
    margin: 0 0 40px 0;
    overflow: hidden;
}

#sidebar .widget-container li:last-child, #sidebar .widget-container li:last-child a {
    margin: 0 0 0 0;
}

#sidebar a {
    color: #333;
}

#sidebar a:hover {
    color: #dd4631;
}

#sidebar select {
    width: 220px;
}

#sidebar img {
    max-width: 220px;
}

#sidebar .wp-caption {
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 10px 5px 5px 5px;
    margin-right: 0;
    text-align: center;
}

#sidebar .wp-caption img {
    max-width: 200px;
}

/* 7.3 Posts */

.post {
    margin: 0 0 35px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.post.last {
    margin: 0 0 35px 0;
    padding: 0 0 0 0;
    border: none;
}

.entry-meta {
    margin: 0 0 20px 0;
}

.entry-meta, .entry-meta a, .single-post .entry-footer a {
    color: #999;
    text-decoration: none;
}

.entry-meta a:hover, .entry-meta a:hover, .single-post .entry-footer a:hover {
    color: #dd4631;
}

.entry-meta .author {
    background: url(images/sprite.png) no-repeat -6px -299px;
    padding: 0 10px 0 20px;
}

.entry-date {
    background: url(images/sprite.png) no-repeat -5px -275px;
    padding: 0 10px 0 20px;
}

.comments-link {
    background: url(images/sprite.png) no-repeat -6px -325px;
    padding: 0 10px 0 19px;
}

h2.entry-title {
    margin: 0 0 5px 0;
}

.entry-summary {
    margin: 0 0 20px 0;
}

img.attachment-custom-1 {
    margin: 0 0 25px 0;
}

.single-post .entry-footer {
    color: #999;
    border-top: 1px solid #e5e5e5;
    margin: 40px 0 -20px 0;
    padding: 10px 0 0 0;
}

/* 7.4 Comments */

.comment-wrapper {
    background: #f8f8f8;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}

.children {
    background: url(images/border_pixel.gif) repeat-x 0 50px;
    margin: 0 0 0 25px;
    padding: 0 0 0 25px;
    border-left: 1px solid #e5e5e5;
}

.comment-author {
    float: left;
    margin: 0 20px 0 0;
}

.comment-author span {
    text-align: center;
    display: block;
    color: #999;
}

.comment-author span a {
    color: #999;
}

.comment-meta {
    color: #999;
    margin: 0 0 10px 0;
    text-align: left;
}

.comment-meta a {
    color: #999;
}

.comment-meta .fn {
    font-weight: bold;
    padding: 0 5px 0 0;
}

.comment-reply-link {
    float: right;
}

/* Commentform */

#respond {
    border-top: 1px solid #e5e5e5;
    padding: 30px 0 0 0;
    margin: 0 0 30px 0;
}

#commentform {
    background: #f8f8f8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

#commentform .required {
    display: inline-block;
    margin: -30px 0 0 0;
    color: #999;
}

#commentform label {
    float: left;
    margin: 0;
    padding: 5px 0 5px 0;
}

.comment-form-author, .comment-form-email {
    width: 200px;
    margin: 0 0 20px 0;
    padding: 0 20px 0 0;
    float: left;
}

.comment-form-url {
    width: 200px;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    float: left;
}

#commentform input {
    width: 180px;
    border-radius: 5px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#commentform input, #commentform textarea {
    border: 1px solid #e5e5e5;
    padding: 8px;
    clear: both;
}

#commentform textarea {
    width: 620px;
    border-radius: 5px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.page-template-default #commentform textarea {
    width: 895px;
}

.page-template-default .comment-form-comment, .single-post .comment-form-comment, .page .comment-form-comment {
    clear: both;
}

.comment-notes {
    float: right;
    color: #999;
    text-align: right;
    margin: 0 4px 0 0;
}

input#submit_comment {
    background: #dd4631;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

input#submit_comment:hover {
    background: #303030;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* 7.5 Widgets */

.widget_categories li, .widget_archive li, .widget_meta li, .widget_pages li {
    background: url(images/sprite_wordpress.png) no-repeat 5px 13px;
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0 7px 16px;
}

/* Widget Pages & Widget Menu */

.widget_nav_menu ul.menu li {
    background: url(images/sprite_wordpress.png) no-repeat 5px 13px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0 7px 16px;
    display: block;
    width: 220px;
}

.widget_nav_menu ul.menu li a {
    border: none;
}

.widget_pages ul li ul li, .widget_pages ul li ul.children, .widget_nav_menu ul.menu li ul.sub-menu li {
    background: none;
    margin: 0;
    padding: 0;
    border-left: none;
}

.widget_pages ul li ul.children li, .widget_nav_menu ul.menu li ul.sub-menu li {
    background: url(images/sprite_wordpress.png) no-repeat 5px 12px;
    border: none;
    padding: 5px 0 2px 15px;
}

.widget_pages .current_page_parent a, #sidebar .widget_nav_menu .current_page_item a, .widget_nav_menu .current-menu-ancestor a, .widget_nav_menu .menu .current_page_item a, .widget_nav_menu .current_page_parent a, #page_footer .secondary a {
    background: #fff!important;
}

.widget_nav_menu .current-menu-item {
font-weight:bold;	
}

.widget_nav_menu .current-menu-item ul {
font-weight:normal;	
}


/* Widget Recent Posts & Recent Comments */

.justlanded_recent_blog_widget a {
    display: block;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.justlanded_recent_blog_widget p, #sidebar .justlanded_recent_comments_widget a {
    width: 140px;
    margin: 0;
    float: left;
}

.justlanded_recent_blog_widget p span {
    margin: 5px 0 0 0;
    display: block;
    color: #999;
}

.justlanded_recent_blog_widget img, .justlanded_recent_comments_widget img {
    float: left;
    margin: 0 15px 0 0;
}

.justlanded_recent_comments_widget li {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.justlanded_recent_comments_widget span {
    margin: 0 0 5px 0;
    display: block;
    color: #999;
}

/* Widget Wordpress Recent Entries */

.widget_recent_entries li {
    background: url(images/sprite.png) no-repeat -1px -652px;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0 0 0 18px;
}

/* Widget Wordpress Recent Comments */

.widget_recent_comments li {
    background: url(images/sprite.png) no-repeat 0 -727px;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0 0 0 18px;
}

/* Widget Tag cloud */

.tagcloud a {
    font-size: 100% !important;
    color: #666;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: left;
    height: 27px;
    margin: 0 5px 5px 0;
    padding: 4px 5px 3px 5px;
    box-shadow: 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #f1f1f1;
}

.tagcloud a:hover {
    background: #dd4631;
    border: 1px solid #dd4631;
    color: #fff !important;
}

/* Widget Search */

#searchform {
    margin: 0 0 3px 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #f1f1f1;
}

.entry-content #searchform {
    width: 220px;
}

#searchform input {
    background: none;
    border: none;
    height: 30px;
    padding: 5px;
    color: #999;
    outline: none;
}

#searchform input:focus {
    color: #333;
}

#searchform input#s {
    width: 180px;
}

#searchform input#button_search {
    background: url(images/sprite.png) no-repeat 3px -430px;
    height: 20px;
    width: 30px;
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
}

/* Widget Testimonial */

.justlanded_testimonials_widget q, .justlanded_testimonials_slider_widget q {
    background: #f8f8f8;
    display: block;
    margin: 0;
    padding: 15px;
    font-style: italic;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.justlanded_testimonials_widget footer, .justlanded_testimonials_slider_widget footer {
    background: url(images/sprite.png) no-repeat 170px -583px;
    margin: 0 0 20px 0;
    padding: 10px 60px 0 0;
}

.justlanded_testimonials_widget footer div, .justlanded_testimonials_slider_widget footer div {
    margin: 0;
    padding: 0;
}

/*Widget Testimonial Slider*/

.testimonial-slider-small footer {
    margin-bottom: 0;
}

/*Widget Calendar */

#wp-calendar th, #wp-calendar td {
    padding: 7px;
    text-align: center;
    color: #999;
}

#wp-calendar caption {
    font-size: 1.1em;
    margin-bottom: 5px;
}

#wp-calendar tbody td {
    background: #f8f8f8;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#wp-calendar tbody td.pad {
    background: #fcfcfc;
}

#wp-calendar tbody td a {
    font-weight: bold;
}

#wp-calendar a {
    display: block;
}

td#prev {
    text-align: left;
}

td#next {
    text-align: right;
}

/* Widget RSS */

.widget_rss li {
    display: block;
    padding: 10px 0 7px 0;
}

.widget_rss .rss-date, .widget_rss cite {
    display: block;
    color: #999;
    margin: 0 0 5px 0;
}

.rssSummary {
    font-style: italic;
}

/*Widget Newsletter*/

.newsletter_widget_form {
    background: #f8f8f8;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}

.newsletter_widget_form .email {
    background: #fff;
    color: #999;
    height: 44px;
    width: 210px;
    margin: 0;
    padding: 0 0 0 10px;
    float: left;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 0 2px 3px #999;
    -moz-box-shadow: inset 0 2px 3px #999;
    -webkit-box-shadow: inset 0 2px 3px #999;
}

.newsletter_widget_form input.submit {
    width: 100px;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 34px;
    margin: 5px 0 0 0;
    font-size: 110%;
    border: 1px solid #c14903;
}

/* 7.3 Pager */

.navigation {
    margin: 0 0 30px 0;
    padding: 20px 0 20px 0;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
    color: #666;
}

.navigation a {
    color: #666;
}

.navigation a:hover {
    color: #dd4631;
}

.navigation .nav-next {
    float: left;
}

.navigation .nav-previous {
    float: right;
}

/*------------------------------------------------------------------------------------------*/
/* 8. Social elements */
/*------------------------------------------------------------------------------------------*/

.social_elements {
    position: fixed;
    top: 180px;
    right: 10px;
}

#navigation_elements .social_elements {
    position: relative;
    top: 8px;
    right: 0;
}

#navigation_elements .social_elements ul {
    float: right;
}

#navigation_elements .social_elements ul li {
    float: left;
}

.social_elements a span {
    display: none;
}

.social_elements a {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 0 4px 0;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#navigation_elements .social_elements a {
    float: left;
    margin: 0 0 0 4px;
}

.social_elements a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

/* Social Elements in the right side */

.facebook {
    background: url(images/sprite_social_element.png) no-repeat -1px 0;
}

.googleplus {
    background: url(images/sprite_social_element.png) no-repeat -1px -60px;
}

.twitter {
    background: url(images/sprite_social_element.png) no-repeat -1px -30px;
}

.stumbleupon {
    background: url(images/sprite_social_element.png) no-repeat -1px -150px;
}

.youtube {
    background: url(images/sprite_social_element.png) no-repeat -1px -90px;
}

.vimeo {
    background: url(images/sprite_social_element.png) no-repeat -1px -120px;
}

.linkedin {
    background: url(images/sprite_social_element.png) no-repeat -1px -180px;
}

.pinterest {
    background: url(images/sprite_social_element.png) no-repeat -1px -210px;
}

.rss {
    background: url(images/sprite_social_element.png) no-repeat -1px -240px;
}

.digg {
    background: url(images/sprite_social_element.png) no-repeat -1px -270px;
}

.myspace {
    background: url(images/sprite_social_element.png) no-repeat -1px -300px;
}

.picasa {
    background: url(images/sprite_social_element.png) no-repeat -1px -330px;
}

.flickr {
    background: url(images/sprite_social_element.png) no-repeat -1px -360px;
}

.dribbble {
    background: url(images/sprite_social_element.png) no-repeat -1px -390px;
}

.blogger {
    background: url(images/sprite_social_element.png) no-repeat -1px -420px;
}

.feedback {
    background: url(images/sprite_social_element.png) no-repeat -1px -450px;
}

/* Social Elements in the header region */

#navigation_elements .facebook {
    background: url(images/sprite_social_element.png) no-repeat -27px 0;
}

#navigation_elements .googleplus {
    background: url(images/sprite_social_element.png) no-repeat -27px -60px;
}

#navigation_elements .twitter {
    background: url(images/sprite_social_element.png) no-repeat -27px -30px;
}

#navigation_elements .stumbleupon {
    background: url(images/sprite_social_element.png) no-repeat -27px -150px;
}

#navigation_elements .youtube {
    background: url(images/sprite_social_element.png) no-repeat -27px -90px;
}

#navigation_elements .vimeo {
    background: url(images/sprite_social_element.png) no-repeat -27px -120px;
}

#navigation_elements .linkedin {
    background: url(images/sprite_social_element.png) no-repeat -27px -180px;
}

#navigation_elements .pinterest {
    background: url(images/sprite_social_element.png) no-repeat -27px -210px;
}

#navigation_elements .rss {
    background: url(images/sprite_social_element.png) no-repeat -27px -240px;
}

#navigation_elements .digg {
    background: url(images/sprite_social_element.png) no-repeat -27px -270px;
}

#navigation_elements .myspace {
    background: url(images/sprite_social_element.png) no-repeat -27px -300px;
}

#navigation_elements .picasa {
    background: url(images/sprite_social_element.png) no-repeat -27px -330px;
}

#navigation_elements .flickr {
    background: url(images/sprite_social_element.png) no-repeat -27px -360px;
}

#navigation_elements .dribbble {
    background: url(images/sprite_social_element.png) no-repeat -27px -390px;
}

#navigation_elements .blogger {
    background: url(images/sprite_social_element.png) no-repeat -27px -420px;
}

#navigation_elements .feedback {
    background: url(images/sprite_social_element.png) no-repeat -27px -450px;
}

/* 8.1 Contact form */

div.wpcf7 {
    background: #f8f8f8;
    padding: 20px !important;
    margin: 0 0 20px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    clear: both;
}

div.wpcf7 input, div.wpcf7 textarea {
    margin: 5px 0 0 0;
}

input.wpcf7-submit {
    background: #dd4631;
    color: #fff;
    width: 180px;
    cursor: pointer;
    box-shadow: 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: none !important;
    border-radius: 5px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

input.wpcf7-submit:hover {
    background: #303030;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wpcf7 input[type="text"] {
    width: 240px;
    border-radius: 5px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.wpcf7 input[type="radio"] {
    border: none;
}

.wpcf7 input, .wpcf7 textarea {
    border: 1px solid #e5e5e5;
    padding: 8px;
    clear: both;
}

.wpcf7 textarea {
    width: 640px;
    border-radius: 5px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*------------------------------------------------------------------------------------------*/
/* 9. Landing page footer */
/*------------------------------------------------------------------------------------------*/

#page_footer {
    background: url(images/border.gif) repeat-x left top;
    padding: 25px 0 0 0;
    text-align: center;
    clear: both;
    font-size: 80%;
}

.page-template-landingpage-php #page_footer {
    background: none;
    padding-top: 0;
}

#page_footer p {
    margin: 3px 0 20px 0;
}

#page_footer, #page_footer a {
    color: #999;
    text-decoration: none;
}

#page_footer a:hover {
    color: #666;
}

#page_footer ul {
    margin: 0 auto;
}

.secondary li {
    display: inline;
    margin: 0 10px 0 0;
}

.scrollup {
    background: url(images/sprite.png) no-repeat -91px -349px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
    text-indent: -9999px;
}

/*------------------------------------------------------------------------------------------*/
/* 9. Additional styles for jQuery/Foundation Framework plug-ins and other plug-in classes  */
/*------------------------------------------------------------------------------------------*/

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.85;
    filter: alpha(opacity=85);
    z-index: 999;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    background: #fff;
    visibility: hidden;
    display: none;
    top: 100px;
    left: 50%;
    margin-left: -260px;
    width: 520px;
    position: absolute;
    z-index: 41;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.reveal-modal .close-reveal-modal:not(.button) {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    cursor: pointer;
}

.reveal-modal.small {
    width: 30%;
    margin-left: -15%;
}

.reveal-modal.medium {
    width: 40%;
    margin-left: -20%;
}

.reveal-modal.large {
    width: 60%;
    margin-left: -30%;
}

.reveal-modal.xlarge {
    width: 70%;
    margin-left: -35%;
}

.reveal-modal.expand {
    width: 90%;
    margin-left: -45%;
}

.reveal-modal .row {
    min-width: 0;
    margin-bottom: 10px;
}

.reveal-modal > :first-child {
    margin-top: 0;
}

.reveal-modal > :last-child {
    margin-bottom: 0;
}

/* The gallery overlay */

#galleryOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
    -moz-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible {
    opacity: 1;
}

#gallerySlider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    -moz-transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease;
}

#gallerySlider .placeholder {
    background: url(images/controls/loading.gif) no-repeat center center;
    height: 100%;
    line-height: 1px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#gallerySlider .placeholder img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

#gallerySlider.rightSpring {
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring {
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
    }
}

@-moz-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
    }
}

@-webkit-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}

/* Arrows */

#prevArrow, #nextArrow {
    border: none;
    text-decoration: none;
    background: url(images/controls/arrows.png) no-repeat;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    width: 43px;
    height: 58px;
    top: 50%;
    margin-top: -29px;
}

#prevArrow:hover, #nextArrow:hover {
    opacity: 1;
}

#prevArrow {
    background-position: left top;
    left: 40px;
}

#nextArrow {
    background-position: right top;
    right: 40px;
}

#imageTitle {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 10px 0 10px 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
}

/*------------------------------------------------------------------------------------------*/
/* 11. Responsive Styling JustLanded */
/*------------------------------------------------------------------------------------------*/

/* Responsive Video Styling */
.jl_video_container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important;
    height: 0 !important;
    overflow: hidden !important
}

.jl_video_container embed,
.jl_video_container iframe,
.jl_video_container object {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important
}

@media screen and (min-width : 761px ) and (max-width: 1005px) {
    /*Global*/

    article section, .newsletter {
        background: url(images/border.gif) repeat-x left bottom;
        margin: 0 0 20px 0;
        padding: 0 0 25px 0;
        overflow: hidden;
    }

    article .entry-content .block, .entry-content .newsletter, .entry-content section {
        background-image: none !important;
    }

    .one_half h2, .one_half h3 {
        text-align: left !important;
    }

    /*Grid*/

    #container, .row, #sidebar, .block_680 {
        width: 730px;
        margin: 0 auto;
    }

    .block_680 {
        margin-bottom: 0;
    }

    .six.columns {
        width: 99%;
    }

    .nine.columns {
        width: 99% !important;
        width: 730px;
    }

    .row .six.mobile-two {
        width: 50% !important;
        float: left;
        padding: 0 10px 0 0 !important;
    }

    .one_half {
        width: 355px;
    }

    .one_third {
        width: 230px;
    }

    .two_thirds {
        width: 480px;
    }

    .one_fourth {
        width: 167px;
    }

    .three_fourths {
        width: 540px;
    }

    .one_half .one_fourth {
        width: 150px;
    }

    .widget-container {
        width: 730px;
        float: left;
        padding-top: 25px;
        margin-top: 25px !important;
        margin-bottom: 0 !important;
        border-top: 1px solid #e5e5e5;
    }
	
		.page-template-page-sidebar-left-php .widget-container {
		margin-top:0!important;
		margin-bottom: 25px !important;
		padding-top:0;
		padding-bottom: 25px;
		border-top: none;
		border-bottom: 1px solid #e5e5e5;
	}

    /*Header*/

    #phone {
        text-align: right;
    }

    #phone a {
        display: block;
    }

    /*Navigation*/

    #navigation_elements {
        height: 57px;
        padding: 12px 0 0 0;
    }

    #nav-below {
        margin: 0;
        padding-bottom: 0;
    }
	
	.widget_nav_menu ul.menu li {
    border-bottom: none;
    width: 730px;
}

    /* Banner */

    #banner {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
    }

    #banner .six.columns {
        width: 50%;
    }

    #banner_image {
        margin-top: 20px;
    }

    /* Buttons */

    #banner .buttons, #banner .buttons_big {
        margin: 0 0 -40px 0 !important;
        clear: both;
    }

    #banner.banner_media_left .buttons {
        margin: 0 0 -40px 0 !important;
        float: right;
    }

    .button_buy_pricing {
        width: 141px !important;
    }

    /*Description*/

    #description img.position_left, #description img {
        display: block;
        margin: 0 auto !important;
        float: none;
    }

    /*Features*/

    .features {
        padding-top: 45px;
    }

    .features li {
        margin: 15px 0 20px 0;
        width: 365px;
    }

    .feature_text {
        width: 160px;
        float: left;
    }

    /*Screenshots*/

    .section_gallery img {
        margin: 0 3px 3px 0;
    }

    /* Work */

    #work {
        background: url(images/border.gif) repeat-x left bottom;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0 !important;
    }

    /* Newsletter */

    .newsletter_inner {
        background-image: none;
        padding: 15px;
    }

    .newsletter h2 {
        background: none;
        font-size: 170%;
        color: #fff;
        padding: 0;
        margin: 5px 0 0 10px;
        float: none;
        text-align: center;
    }

    .newsletter form {
        width: 460px;
        margin-right: 115px;
    }

    .newsletter input[type="text"] {
        width: 338px;
    }

    /*Newsletter within the Banner*/

    .mini_newsletter_banner {
        margin: 12px 0 -35px 0;
    }

    /*Pricing*/

    .pricing_block {
        width: 170px;
    }

    .pricing_footer p {
        background-color: rgba(30, 30, 30, 0.25);
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        width: 153px;
        margin: 0 auto;
        padding: 5px;
        overflow: hidden;
    }

    /*Comments*/

    #commentform textarea, .wpcf7 textarea, .page-template-default #commentform textarea {
        width: 690px;
    }

    .form-submit {
        margin-bottom: 0;
    }

    /*Widgets*/

    .justlanded-recent-item p {
        width: 630px;
    }

    .testimonial-slider-small blockquote {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    /*Widget Newsletter*/

    .newsletter_widget_form {
        background: #f8f8f8;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        overflow: hidden;
    }

    .newsletter_widget_form .email {
        background: #fff;
        height: 44px;
        width: 600px;
        margin: 0;
        padding: 5px 0 0 10px;
        float: left;
        display: block;
        border: 1px solid #e5e5e5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        box-shadow: inset 0 2px 3px #999;
        -moz-box-shadow: inset 0 2px 3px #999;
        -webkit-box-shadow: inset 0 2px 3px #999;
    }

    .newsletter_widget_form input.submit {
        height: 44px;
        width: 120px;
        margin: 0;
    }

    #searchform input#s {
        width: 690px;
    }

    /*Social Elements */

    #section_social_header {
        display: none;
    }

    .social_elements {
        overflow: hidden;
        position: relative;
        margin: 10px 0 5px 0;
        padding: 0;
        top: 0;
        left: 0;
        text-align: center;
    }

    .social_elements  ul {
        display: inline-block;
        margin: 0 auto;
    }

    .social_elements li {
        float: left;
        margin: 0 2px 0 2px !important;
    }

}

@media screen and (max-width: 760px) {

    /*Global*/

    .column, .columns {
        width: auto !important;
        float: none;
    }

    .column:last-child, .columns:last-child {
        float: none;
    }

    [class*="column"] + [class*="column"]:last-child {
        float: none;
    }

    .column:before, .columns:before, .column:after, .columns:after {
        content: "";
        display: table;
    }

    .column:after, .columns:after {
        clear: both;
    }

    .post img {
        width: 100% !important;
        height: auto !important;
    }

    /* Reveal --- */
    /*            */
    .reveal-modal-bg {
        position: absolute;
    }

    .reveal-modal, .reveal-modal.small, .reveal-modal.medium, .reveal-modal.large, .reveal-modal.xlarge {
        width: 80%;
        top: 15px;
        left: 50%;
        margin-left: -40%;
        padding: 20px;
        height: auto;
    }

    article section {
        background: url(images/border.gif) repeat-x left bottom;
        margin: 0 0 20px 0;
        padding: 0 0 25px 0;
        overflow: hidden;
    }

    .page-template-landingpage-php h2, .page-template-landingpage-php h3 {
        text-align: center;
    }

    /*Grid*/

    #container, .row {
        width: 430px;
        padding: 0;
        margin: 0 auto;
    }

    .one_half, .one_third, .one_fourth, .two_thirds, .three_fourths, .block_680 {
        width: 430px;
        margin: 0 auto 20px auto;
    }

    .block_680 {
        margin-bottom: 0;
    }

    .one_fourth.last {
        margin-right: 0 !important;
    }

    article .entry-content .block, .entry-content .newsletter, .entry-content section {
        background-image: none !important;
    }

    /*Header*/

    #landing_header {
        margin-bottom: 0;
    }

    #landing_header .two_thirds {
        margin: 0;
        padding: 0;
    }

    #logo h2 {
        margin: 10px 0 15px 0;
        padding: 0;
        width: 285px;
        clear: both !important;
        display: block;
        text-align: left;
    }

    #phone {
        float: none;
        text-align: left;
        position: relative;
    }

    /*Navigation*/

    #navigation_elements {
        height: 50px;
        padding: 10px 0 0 0;
    }

    .tinynav {
        display: block;
        width: 430px;
        top: 20px;
        padding: 5px;
    }

    #main_nav .menu {
        display: none
    }
	
	.widget_nav_menu ul.menu li {
    border-bottom: none;
    width: 430px;
}

    #nav-below {
        margin: 0;
        padding-bottom: 0;
    }

    .nav-previous {
        padding-top: 10px;
        text-align: left;
    }

    /* Banner */

    #banner {
        height: auto;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    #banner_image {
        margin-top: 10px;
        height: auto !important;
    }

    #banner_image img#image_bottom {
        margin-top: 10px;
    }

    /* Buttons */

    #banner .buttons {
        margin: 35px 0 -60px 20px !important;
    }

    /*Features*/

    .section_features {
        padding-top: 45px;
    }

    .section_features li {
        margin: 15px 0 25px 0;
    }

    .feature_text {
        width: 360px;
        float: left;
    }

    /*Description*/

    #description ul {
        margin-left: 10px;
    }

    /*Screenshots*/

    .section_gallery img {
        margin: 0 0 3px 0;
    }

    /* Work */

    #work {
        background: url(images/border.gif) repeat-x left bottom;
        margin-bottom: 25px;
        padding-bottom: 25px !important;
    }

    /*Comment*/

    #commentform textarea, .wpcf7 textarea, .page-template-default #commentform textarea {
        width: 390px;
    }

    .comment-notes {
        float: left;
        margin: 0 0 10px 0;
        text-align: left;
    }

    .form-submit {
        margin-bottom: 0;
    }

    /*Newsletter*/

    .newsletter {
        margin: 0 0 20px 0;
        padding: 0 0 25px 0;
    }

    .newsletter_inner {
        background-image: none;
    }

    .newsletter h2 {
        padding: 14px 0 5px 70px;
        text-align: left;
    }

    .newsletter form {
        background: #fff;
        height: 44px;
        width: 395px;
        margin: 5px 15px 20px 15px;
        float: right;
        display: block;
        border: 1px solid #ab2210;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        box-shadow: inset 0 2px 3px #999;
        -moz-box-shadow: inset 0 2px 3px #999;
        -webkit-box-shadow: inset 0 2px 3px #999;
    }

    .newsletter input[type="text"] {
        background: none;
        height: 42px;
        width: 273px;
        float: left;
        margin: 0;
        padding: 2px 0 0 10px;
        border-left: none;
        border-bottom: none;
        border-top: none;
        border-right: 1px solid #ab2210;
        line-height: 42px;
        color: #999;
    }

    .newsletter_widget_form input.submit {
        height: 44px;
        width: 120px;
        margin: 0;
    }

    /*Newsletter within the Banner*/

    .mini_newsletter_banner {
        margin: 20px 0 -55px 0;
        width: 430px;
    }

    .mini_newsletter_banner .email {
        width: 298px;
    }

    /* Table*/

    .pricing_table {
        padding-bottom: 0;
        padding-top: 10px;
    }

    .pricing_block {
        width: 200px;
        margin-bottom: 10px;
    }

    /*Quotes*/

    blockquote {
        margin-bottom: 25px !important;
    }

    .testimonial_big {
        padding: 0;
        margin: 0 !important;
    }

    /*Widgets*/

    .widget-container {
        width: 430px;
        float: left;
        padding-top: 25px;
        margin-top: 25px !important;
        margin-bottom: 0 !important;
        border-top: 1px solid #e5e5e5;
    }
	
		.page-template-page-sidebar-left-php .widget-container {
		margin-top:0!important;
		margin-bottom: 25px !important;
		padding-top:0;
		padding-bottom: 25px;
		border-top: none;
		border-bottom: 1px solid #e5e5e5;
	}

    .justlanded-recent-item p {
        width: 350px;
    }

    /*Widget Testimonial Slider*/

    .testimonial-slider-small blockquote {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    /*Widget Newsletter*/

    .newsletter_widget_form {
        background: #f8f8f8;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        overflow: hidden;
    }

    .newsletter_widget_form .email {
        background: #fff;
        height: 44px;
        width: 300px;
        margin: 0;
        padding: 0 0 0 10px;
        float: left;
        display: block;
        border: 1px solid #e5e5e5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        box-shadow: inset 0 2px 3px #999;
        -moz-box-shadow: inset 0 2px 3px #999;
        -webkit-box-shadow: inset 0 2px 3px #999;
    }

    #searchform input#s {
        width: 390px;
    }

    /*Social Elements */

    #section_social_header {
        display: none;
    }

    #section_social_footer {
        overflow: hidden;
        position: relative;
        margin: 10px 0 5px 0;
        padding: 0;
        top: 0;
        left: 0;
        text-align: center;
    }

    .section_social_footer {
        overflow: hidden;
        position: relative;
        margin: 10px 0 5px 0;
        padding: 0;
        top: 0;
        left: 0;
        text-align: center;
    }

    .section_social_footer  ul {
        display: inline-block;
        margin: 0 auto;
    }

    .section_social_footer li {
        float: left;
        margin: 0 2px 0 2px !important;
    }

    .scrollup {
        display: none !important;
    }

}

@media screen and (max-width: 460px) {

    /*Global*/

    article section, .section_newsletter {
        background: url(images/border.gif) repeat-x left bottom;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        overflow: hidden;
    }

    .page-content-block {
        background: url(images/border.gif) repeat-x left bottom;
        margin: 0 0 20px 0;
        padding: 0 0 25px 0;
    }

    article .entry-content .block, .entry-content .newsletter, .entry-content section {
        background-image: none !important;
    }

    .row .mobile-two:last-child {
        float: left;
    }

    .page-template-landingpage-php h2, .page-template-landingpage-php h3 {
        text-align: center;
    }

    /*Grid*/

    .row, #container, #content {
        width: 285px;
        padding: 0;
        margin: 0 auto;
    }

    .one_half, .one_third, .one_fourth, .two_thirds, .three_fourths, .block_680 {
        width: 285px;
        margin: 0 auto 15px auto;
    }

    .block_680 {
        margin-bottom: 0;
    }

    /*Header*/

    #landing_header {
        margin-bottom: 0;
    }

    #landing_header .two_thirds {
        margin: 0;
        padding: 0;
    }

    #logo h2 {
        margin: 10px 0 15px 0;
        padding: 0;
        width: 285px;
        clear: both !important;
        display: block;
        text-align: left;
    }

    #phone {
        float: none;
        text-align: left;
        position: relative;
    }

    /*Navigation*/

    #navigation_elements {
        height: 50px;
    }

    #main_nav .menu {
        display: none
    }
	
		.widget_nav_menu ul.menu li {
    border-bottom: none;
    width: 285px;
}

    .tinynav {
        display: block;
        width: 285px;
        top: 20px;
        padding: 5px;
    }

    #nav-below {
        margin: 0;
        padding-bottom: 0;
    }

    .nav-previous {
        padding-top: 10px;
        text-align: left;
    }

    /* Banner */

    #banner {
        height: auto;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    #banner_image {
        margin-top: 10px;
        height: auto !important;
    }

    #banner_image img#image_bottom {
        margin-top: 10px;
    }

    /*Features*/

    .section_features {
        padding-top: 15px;
    }

    .section_features  li {
        margin: 15px 0 25px 0;
    }

    li.last {
        margin-right: 0;
    }

    .feature_text {
        width: 215px;
        float: left;
    }

    /*Description*/

    #description ul {
        margin-left: 10px;
    }

    /*Screenshots*/

    .section_gallery img {
        margin: 0;
    }

    /* Work */

    #work {
        background: url(images/border.gif) repeat-x left bottom;
        margin-bottom: 25px;
        padding-bottom: 25px !important;
    }

    /*Buttons*/

    .buttons {
        width: 240px;
        margin: 20px 0 0 20px !important;
    }

    #banner .buttons {
        margin: 20px 0 0 20px !important;
    }

    #banner.banner_media_left .buttons {
        margin: 10px 0 0 20px !important;
    }

    #banner .banner_media_full .buttons {
        margin: 0 0 0 20px;
    }

    a.button_buy {
        float: none;
        width: 227px;
        height: 51px;
        text-align: center;
        color: #fff;
        border-radius: 25px;
        -webkit-radius: 25px;
        -moz-border-radius: 25px;
    }

    a.button_try {
        float: none;
        width: 227px;
        height: 51px;
        border-radius: 25px;
        -webkit-radius: 25px;
        -moz-border-radius: 25px;
        margin: 5px 0 0 0;
    }

    .buttons span {
        display: none;
    }

    /* Pricing */

    .pricing_table {
        margin: 0 auto;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 220px;
    }

    .pricing_block {
        margin: 5px;
        width: 200px;
    }

    .pricing_table .three.mobile-two.columns {
        width: 220px;
        clear: both;
        float: none;
    }

    /*Comment*/

    #commentform textarea, .wpcf7 textarea, .page-template-default #commentform textarea {
        width: 240px;
    }

    .comment-notes {
        margin: 5px 0 10px 0;
        text-align: left;
    }

    .form-submit {
        margin-bottom: 0;
    }

    /* Newsletter */

    .newsletter {
        background-image: none !important;
        padding-bottom: 10px;
        margin: 0 !important;
    }

    .newsletter_inner {
        background-image: none;
        padding: 15px;
    }

    .newsletter h2 {
        background: none;
        font-size: 170% !important;
        color: #fff !important;
        padding: 0;
        margin: 5px 0 0 0;
        float: none;
        text-align: center;
    }

    .newsletter form {
        background: none;
        height: 100px;
        width: 235px;
        float: none;
        display: block;
        margin: 10px auto;
        box-shadow: none;
        border: none;
    }

    .newsletter input[type="text"] {
        background: #fff;
        height: 42px;
        width: 235px;
        float: left;
        margin: 10px auto;
        padding: 2px 10px 0 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        box-shadow: inset 0 2px 3px #999;
        -moz-box-shadow: inset 0 2px 3px #999;
        -webkit-box-shadow: inset 0 2px 3px #999;
        line-height: 42px;
        color: #999;
    }

    .newsletter input.e-mail:focus {
        color: #000;
    }

    .newsletter input.submit {
        height: 44px;
        width: 120px;
        margin: 0 auto;
        float: none;
        border: 1px solid #eb9f29;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        cursor: pointer;
    }

    /*Newsletter within the Banner*/

    .mini_newsletter_banner {
        margin: 20px 0 0 0;
        width: 285px;
    }

    .mini_newsletter_banner .email {
        width: 173px;
    }

    .mini_newsletter_banner .submit {
        width: 100px;
    }

    /*Social*/

    #section_social_header {
        display: none;
    }

    /*Quotes*/

    blockquote {
        margin-bottom: 25px !important;
    }

    /*Widgets*/

    .widget-container {
        width: 285px;
        float: left;
        padding-top: 20px;
        margin-top: 20px !important;
        margin-bottom: 0 !important;
        border-top: 1px solid #e5e5e5;
    }
	
	.page-template-page-sidebar-left-php .widget-container {
		margin-top:0!important;
		margin-bottom: 20px !important;
		padding-top:0;
		padding-bottom: 20px;
		border-top: none;
		border-bottom: 1px solid #e5e5e5;
	}

    .justlanded-recent-item p {
        width: 200px;
    }

    /*Widget Testimonial Slider*/

    .testimonial-slider-small blockquote {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    /*Widget Newsletter*/

    .newsletter_widget_form {
        background: #f8f8f8;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        overflow: hidden;
    }

    .newsletter_widget_form .email {
        background: #fff;
        height: 44px;
        width: 175px;
        margin: 0;
        padding: 0 0 0 10px;
        float: left;
        display: block;
        border: 1px solid #e5e5e5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        box-shadow: inset 0 2px 3px #999;
        -moz-box-shadow: inset 0 2px 3px #999;
        -webkit-box-shadow: inset 0 2px 3px #999;
    }

    .newsletter_widget_form input.submit {
        width: 100px;
        float: right;
    }

    #searchform input#s {
        width: 240px;
    }

    .scrollup {
        display: none !important;
    }

}